
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<h1>Bienvenue sur le forum d'un groupe de dev totalement légendaire</h1>

<ul>
    <li>
        Charlotte Alias **** Rose bonbon
    </li>
    <li>
        Marco Alias **** L'absent
    </li>

    <li>
        Mehdi Alias **** SosieMan
    </li>
    <li>
        Giuseppe Alias **** pablo escobar
    </li>
    <li>
        Gregory Alias **** Le nerveux
    </li>

    <li>
        Fabrice Alias **** Fabizio
    </li>
    <li>
        Gaspard Alias **** Sid
    </li>
    <li>
        Sébastien Alias **** El chapo
    </li>
</ul>
